.project-container{
    margin-top: 80px;
    
}
.project-container .project-title{
    text-align: center;
}
.project-container hr{
    width: 100px;
    height: 4px;
    background-color: #FDC435;
    border: none;
}

.project-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 550px){
    .project-container{
        margin-left: 50px;
        font-size: 20px;
    }
    .project-container .project-title{
        text-align: center;
        margin-left: 100px;
    }
}