.skills__container{
    width: 50%;
 
    
}
.skills__container-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skills_container-title h1{
    text-align: center;
}