.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container .nav-menu ul li{
    display: inline-block;
    /* margin-left: 20px; */
    padding: 0 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.nav-container div .nav-title{
    margin-left: 120px;
    background-color: #FDC435;
    padding:  0  10px;
    border-radius: 30px;

}

.nav-container .nav-menu{
    margin-right: 10%;
}

.nav-container .nav-menu ul li:hover{
    background-color: white;
    color: #FDC435;
    padding: 5px;
    border-radius: 20px;
}
.nav-container .nav-menu ul li .link:hover{
    /* background-color: white; */
    color: #FDC435;
    
}
.nav-container .nav-menu ul li .link{
    text-decoration: none;
    color: black;
}
