.about-details__container{
    margin-top: 70px;
    
    width: 588px;
    height: 313px;
}
.about-details__container h2{
    font-size: 40px;
}
.about-details__container p{
    color: #828282;
    font-size: 24px;
    line-height: 150%;
    height: auto;
}
.about-details__container a{
    border: none;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: medium;
    background-color: #FDC435;
    color: black;
}