.photo-container{

    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    

}
.photo-img{

    position: absolute;
    top: 0;
    right: 0;
    margin-right: 70px;
    margin-top: 70px;
    
    
}
@media only screen and (max-width: 998px) {
    .photo-img{
        display: none;
        /* position: relative;
        margin-left: 350px; */
        
    }
    .photo-container{
        display: none;
        /* left: 0; */
    }
}
